export(as_edge_list)
export(calc_central_morph)
export(calculate_optimal_pc_scores)
export(create_lm_graph)
export(graph_configuration_statistics)
export(graph_embeddings)
export(kernel_cauchy)
export(kernel_gaussian)
export(kernel_laplace)
export(kernel_pca)
export(kernel_pca_biplot)
export(kernel_poly)
export(kernel_rbf)
export(kernel_spline)
export(knn_graph)
export(landmark_modularity)
export(mahalanobis_dist_matrix)
export(pca_biplot)
export(pca_plot)
export(plot_landmark_graph)
export(plot_lmgraph_stats)
export(procD_comparisons)
export(separate_samples)
export(similarity_matrix)
export(tps_visualisation)
export(triangulate2d)
export(triangulate3d)
export(tsne_plot)
export(vector_from_landmarks)
export(write_morphologika_file)
export(GPA)
export(stereographic_projection)
export(orthogonal_projection)
export(generalised_resistant_fit)
export(relative_warp_analysis)
import(grDevices)
import(graphics)
import(stats)
import(utils)
import(magrittr)
